<div class="list-container" *ngIf="listOfMovies.length">
  <div class="list-item" *ngFor="let movie of list">
    {{ movie }}
  </div>
  <div class="list-item" *ngFor="let movie of listOfMovies; let i = index">
    <div
      class="item-wrap"
      *ngIf="movie.rating > 1"
      [ngStyle]="{ background: movie.rating > 8 ? '#98ff70' : '#fa7575' }"
    >
      <div [ngSwitch]="movie.mainChar">
        <div *ngSwitchCase="'Bruce Banner'">
          {{ movie.name }}
        </div>
        <div *ngSwitchDefault>
          <div class="title">Movie Name: {{ movie.name }}, index: {{ i }}</div>
          <div class="charecter">Main Charecter: {{ movie.mainChar }}</div>
          <div class="rating">Rating: {{ movie.rating }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
